{% extends "base.html" %}
{% load thumbnail %}
{% block title %}{{ limitplot.title }}{% endblock %}

{% block content %}
<div class="grid-container content-container">
  <div class="grid-x grid-margin-x">
    <div class="large-12 cell">
      <div class="callout alert">
        <h5>Warning! This cannot be undone!</h5>
      </div>
      <div class="large-12 cell">
        <div class="media-object">
          <div class="media-object-section">
            <div class="thumbnail">
              <img src="{{ limitplot.render|thumbnail_url:'limitplot' }}"
                   alt="Render of {{ limitplot.title }}"
              />
            </div>
          </div>
          <div class="media-object-section">
            <p>
              You are about to delete the limitplot:<br>
              <strong>{{ limitplot.name }}</strong>
            </p>
            <h5>Are you sure about that?</h5>
            <form action="" method="post">{% csrf_token %}
              <a href="{% url 'limitplot_detail' pk=limitplot.pk %}" class="secondary button">Cancel</a>
              <button name="action" type="submit" value="submit" class="alert button">
                Delete!
              </button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
