{% extends "base.html" %}
{% load guardian_tags %}
{% load thumbnail %}
{% block title %}{{ limitplot.title }}{% endblock %}

{% block content %}
{% get_obj_perms request.user for limitplot as "limitplot_perms" %}
<div class="grid-container content-container">
  <div class="grid-x grid-padding-x">

    <div class="large-12 cell">
      <h3>{{ limitplot.name }}</h3>
    </div>

    <div class="large-6 cell">
      <h6 class="sidelines"><span>PLOT</span></h6>
      <img src="{{ limitplot.render.url }}"
           alt="Render of {{ limitplot.title }}"
      />
    </div>

    <div class="large-6 cell">
      <h6 class="sidelines"><span>ACTIONS</span></h6>
      <div class="expanded button-group">
        <a href="{% url 'limitplot_pdf' pk=limitplot.pk %}" class="secondary button">Download PDF</a>
        {% if "change_limitplot" in limitplot_perms %}
          <a href="{% url 'limitplot_update' pk=limitplot.pk %}" class="warning button">Update</a>
        {% endif %}
        {% if "delete_limitplot" in limitplot_perms %}
          <a href="{% url 'limitplot_delete' pk=limitplot.pk %}" class="alert button">Delete</a>
        {% endif %}
      </div>
      <h6 class="sidelines"><span>ABSTRACT</span></h6>
      <p>{{ limitplot.description }}</p>
      <h6 class="sidelines"><span>REFERENCES</span></h6>
      <div class="metabox">
        created by <strong>{{ limitplot.creator }}</strong> at
        <strong>{{ limitplot.creation_date | date:"d-M-Y" }}</strong>;
        last update <strong>{{ limitplot.last_update | date:"d-M-Y" }}</strong>
      </div>
    </div>

    <div class="large-12 cell">
      <h6 class="sidelines"><span>INCLUDED RECORDS</span></h6>


      {% for visual in limitplot.visualization_set.all %}
      {% with record=visual.record %}
      <a href="{% url 'record_detail' pk=record.pk %}">
        <div class="media-object record-li record">
          <div class="media-object-section">
            <div class="thumbnail">
                <img src="{{ record.render|thumbnail_url:'record_tiny' }}"
                     alt="Thumbnail of {{ record.title }}"
                />
            </div>
          </div>
          <div class="media-object-section">
            <h5>{{ record.title }}</h5>
            <p>{{ record.author }}</p>
          </div>
        </div>
      </a>
      {% endwith %}
      {% endfor %}
    </div>
  </div>
</div>
{% endblock %}
