{% load sniplates %}
{% load_widgets form="widgets/app.html" %}

<div class="card formset-card" data-formset-form>
  <div class="card-divider">
    <button type="button" class="button small" id="{{ form.id.html_name }}_reveal_button" data-open="{{ form.id.html_name }}_reveal"><i class="fas fa-chart-area"></i> | Choose</button>
    <h6 class="record-title">
      {{ form.record.value }}
      {% for value, text in form.record.field.choices %}
        {% if value|stringformat:"s" == form.record.value|stringformat:"s" %}
          {{ text }}
        {% endif %}
      {% endfor %}
    </h6>
    {% form_field form.record css_classes="record-select hidden" hide_errors="true" %}
  </div>
  <div class="reveal large" id="{{ form.id.html_name }}_reveal" data-reveal>
    <h5>Search record</h5>
    <input type="text" class="record-query" aria-describedby="recordQueryHelpText">
    <p class="help-text" id="recordQueryHelpText">
      Hit <kbd>Enter</kbd> to search.
    </p>

    <div class="record-list">
    </div>

    <button class="close-button" data-close aria-label="Close modal" type="button">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="card-section">
    <div class="grid-x grid-margin-x">
      <div class="large-3 cell">
        {% form_field form.label placeholder="optional" show_label="yes" %}
      </div>
      <div class="large-1 cell">
        {% form_field form.color show_label="yes" %}
      </div>
      <div class="large-2 cell">
        {% form_field form.style show_label="yes" %}
      </div>
      <div class="large-1 cell">
        <label>{{ form.fill.label }}
          {% form_field form.fill widget="form:Switch" css_classes="small" %}
        </label>
      </div>
      <div class="large-2 cell">
        <label>{{ form.alpha.label }}
          <div class="slider" data-slider data-initial-start={{ form.alpha.value }} data-end="100">
            <span class="slider-handle" data-slider-handle role="slider"></span>
            <span class="slider-fill" data-slider-fill></span>
            {% form_field form.alpha widget="form:HiddenInput" %}
          </div>
        </label>
      </div>
      <div class="auto cell">
        <div class="hidden">
          {{ form.draw_order }}
          {{ form.DELETE }}
          {{ form.ORDER }}
          {{ form.limitplot }}
          {{ form.id }}
        </div>
      </div>
      <div class="large-2 cell">
        <label>controls
        <div class="button-group">
          <button type="button" data-formset-move-up-button class="secondary button small"><i class="fas fa-arrow-circle-up"></i></button>
          <button type="button" data-formset-move-down-button class="secondary button small"><i class="fas fa-arrow-circle-down"></i></button>
          <button type="button" data-formset-delete-button class="alert button small"><i class="fas fa-trash"></i></button>
        </div>
        </label>
      </div>
    </div>
  </div>
</div>
