{% extends "base.html" %}
{% load guardian_tags %}
{% block title %}{{ record.title }}{% endblock %}

{% block content %}
{% get_obj_perms request.user for record as "record_perms" %}
<div class="grid-container content-container">
  <div class="grid-x grid-padding-x">

    <div class="large-12 cell">
      <h3>{{ record.title }}</h3>
      <p>{{ record.author }}</p>
    </div>

    <div class="large-6 cell">
      <h6 class="sidelines"><span>PREVIEW</span></h6>
      <img src="{{ record.render.url }}"
           alt="Render of {{ record.title }}"
      />
      <h6 class="sidelines"><span>REFERENCES</span></h6>
      {% if record.journal %}
        <span class="label success"><b>{{ record.journal }}</b></span>
      {% endif %}
      {% if record.arxiv %}
        <a href="https://arxiv.org/abs/{{ record.arxiv }}" target="_blank">
          <span class="label warning"><b>arxiv:</b>{{ record.arxiv }}</span>
        </a>
      {% endif %}
      {% if record.doi %}
        <a href="https://dx.doi.org/{{ record.doi }}" target="_blank">
          <span class="label warning"><b>doi:</b>{{ record.doi }}</span>
        </a>
      {% endif %}
      <div class="metabox">
        created by <strong>{{ record.creator }}</strong> at
        <strong>{{ record.creation_date | date:"d-M-Y" }}</strong>;
        last update <strong>{{ record.last_update | date:"d-M-Y" }}</strong>
      </div>
    </div>

    <div class="large-6 cell">
      <h6 class="sidelines"><span>ACTIONS</span></h6>
      <div class="expanded button-group">
        <a href="{% url 'limitplot_new' %}?initial={{ record.pk }}" class="button">Start Plot</a>
        <a href="{% url 'record_csv' pk=record.pk %}" class="secondary button">Download CSV</a>
        {% if "change_record" in record_perms %}
          <a href="{% url 'record_update' pk=record.pk %}" class="warning button">Update</a>
        {% endif %}
        {% if "delete_record" in record_perms %}
          <a href="{% url 'record_delete' pk=record.pk %}" class="alert button">Delete</a>
        {% endif %}
      </div>
      <h6 class="sidelines"><span>ABSTRACT</span></h6>
      {% if record.abstract %}
        <p>{{ record.abstract }}</p>
      {% else %}
        <p>No abstract available</p>
      {% endif %}
      <h6 class="sidelines"><span>TAGS</span></h6>
      {% for tag in record.tags.names %}
        <a href="{% url 'record_list' %}?query=tag:{{ tag }}">
          <span class="label primary">{{ tag }}</span>
        </a>
      {% empty %}
        <p>No tags</p>
      {% endfor %}
    </div>

  </div>
</div>
{% endblock %}
