{% extends "base.html" %}
{% load sniplates %}
{% load thumbnail %}
{% block title %}ALPlot - Records{% endblock %}

{% block content %}
{% load_widgets form="widgets/app.html" %}
<div class="grid-container content-container">
  <div class="grid-x grid-margin-x">
    <div class="large-10 cell">
      <h2>Records</h2>
    </div>
    <div class="large-2 cell">
      <a href="{% url 'record_new' %}" class="button v-center">New Record</a>
    </div>
    <div class="large-12 cell">
      <hr>
      <p class="lead">Browse or search the list of available records</p>
      <form action="{% url 'record_list' %}" method="get" novalidate>
        <div class="input-group">
          <span class="input-group-label">{{ form.query.label }}</span>
          {% form_field form.query css_classes="input-group-field bottom" tooltip="Search title / tags. Example: My Title tag:scalar"%}
          <div class="input-group-button">
            <input type="submit" class="button" value="Submit">
          </div>
        </div>
      </form>
    </div>
    <div class="large-12 cell">
      {% for record in records %}
        {% url 'record_detail' pk=record.pk as record_url %}
        <div class="media-object stack-for-small record">
          <div class="media-object-section align-self-middle">
            <div class="thumbnail">
              <a href="{{ record_url }}">
                <img src="{{ record.render|thumbnail_url:'record_small' }}"
                     alt="Thumbnail of {{ record.title }}"
                />
              </a>
            </div>
          </div>
          <div class="media-object-section main-section">
            <div class="grid-x grid-padding-x">
              <div class="large-10 cell">
                <a href="{{ record_url }}"><h4>{{ record.title }}</h4></a>
                <span>{{ record.author }}</span>
                {% if record.abstract %}
                  <p>{{ record.abstract | truncatechars:150 }}</p>
                {% else %}
                  <p>No abstract available</p>
                {% endif %}
                {% if record.arxiv %}
                  <a href="https://arxiv.org/abs/{{ record.arxiv }}" target="_blank">
                    <span class="label warning"><b>arxiv:</b>{{ record.arxiv }}</span>
                  </a>
                {% endif %}
                {% if record.doi %}
                  <a href="https://dx.doi.org/{{ record.doi }}" target="_blank">
                    <span class="label warning"><b>doi:</b>{{ record.doi }}</span>
                  </a>
                {% endif %}
                {% for tag in record.tags.names %}
                  <a href="{% url 'record_list' %}?query=tag:{{ tag }}">
                    <span class="label primary">{{ tag }}</span>
                  </a>
                {% endfor %}
              </div>
              <div class="large-2 cell datebox">
                <p>created:</p><span>{{ record.creation_date | date:"d-M-Y" }}</span>
                <p>updated:</p><span>{{ record.last_update | date:"d-M-Y" }}</span>
              </div>
            </div>
          </div>
        </div>
      {% empty %}
        <div class="callout warning">
          <h5>There is nothing to see here!</h5>
          <p>You may need to login, or lower your search criteria.</p>
        </div>
      {% endfor %}
    </div>
  </div>
</div>
{% endblock %}
