{% extends "base.html" %}
{% load sniplates %}
{% load static %}
{% block title %}ALPlot - Create record{% endblock %}

{% block content %}
{% load_widgets form="widgets/app.html" %}
<form action="" method="post" id="id_record_form" novalidate> {% csrf_token %}
<div class="grid-container content-container">
  <div class="grid-x grid-margin-x">

    <div class="large-12 cell">
      <h2>Create new record</h2><hr>
      <p class="lead">A new record consists of the exclusion
        limit data given as comma-separated value pairs in the mass-coupling
        plane accompanied by some meta data, like a title or the corresponding
        journal reference.</p>
    </div>

    <div class="large-12 cell">
      <hr class="margin-top"><h4>1. Upload the data</h4>
    </div>
    <div class="large-4 cell">
      <p>Copy and paste your exclusion limit data here. The expected format is
      comma-separated pairs of <code>(mass, coupling)</code> in units of
      <code>(eV, 1/GeV)</code>. Lines starting with the <code>#</code> symbol
      will be ignored.</p>
      <h6 class="sidelines"><span>EXAMPLE</span></h6>
      <blockquote>
        <pre>#mass,coupling<br>1.2e-4,3.5e-8<br>1.3e-5,3.6e-8</pre>
      </blockquote>
      {% form_field form.data widget="form:field_errors" %}
    </div>
    <div class="large-4 cell">
      {% form_field form.data widget="form:Textarea" rows="12" hide_errors="true" %}
    </div>
    <div class="large-4 cell text-center">
      {% if record_preview %}
        <div class="image-hover-wrapper" id="id_preview">
          <button type="submit" name="action" value="preview">
            <img src="{{ record_preview }}" alt="Render of the record">
            <span class="image-hover-wrapper-reveal">
              <p>Click to<br>Reload Preview</p>
            </span>
          </button>
        </div>
      {% else %}
        <button type="submit" name="action" value="preview" class="button v-center" id="id_preview" >Preview</button>
      {% endif %}
    </div>

    <div class="large-12 cell">
      <hr class="margin-top"><h4>2. Provide metadata</h4>
    </div>
    <div class="large-12 cell">
      <h6 class="sidelines"><span>TITLE</span></h6>
    </div>
    <div class="large-4 cell">
      <p>The <strong>title</strong> is the main identifier of a record. Usually
      this is the name of the corresponding publication.</p>
      {% form_field form.title widget="form:field_errors" %}
    </div>
    <div class="large-8 cell">
      {% form_field form.title widget="form:Textarea" rows=2 hide_errors="true" %}
    </div>
    <div class="large-12 cell">
      <h6 class="sidelines"><span>AUTHOR(S)</span></h6>
    </div>
    <div class="large-4 cell">
      <p>List all <strong>authors</strong> responsible for this record.</p>
      {% form_field form.author widget="form:field_errors" %}
    </div>
    <div class="large-8 cell">
      {% form_field form.author widget="form:Textarea" rows=2 hide_errors="true" %}
    </div>
    <div class="large-12 cell">
      <h6 class="sidelines"><span>ABSTRACT</span></h6>
      {% form_field form.abstract widget="form:field_errors" %}
    </div>
    <div class="large-4 cell">
      <p>The <strong>abstract</strong> describes the data in more detail. How
      have these numbers been acquired, what were the experimental
      parameters.</p>
    </div>
    <div class="large-8 cell">
      {% form_field form.abstract %}
    </div>
    <div class="large-12 cell">
      <h6 class="sidelines"><span>REFERENCES</span></h6>
      <p>If this record has been published, add some
      <strong>references</strong> to help tracking the origin.
    </div>
    <div class="large-4 cell">
      <div class="input-group">
        <span class="input-group-label">{{ form.journal.label }}</span>
        {% form_field form.journal widget="form:TextInput" css_classes="input-group-field bottom" tooltip="e.g. 'Phys.Rev. X4 (2014) no.2, 021030'" %}
      </div>
    </div>
    <div class="large-4 cell">
      <div class="input-group">
        <span class="input-group-label">{{ form.arxiv.label }}</span>
        {% form_field form.arxiv widget="form:TextInput" css_classes="input-group-field bottom" tooltip="e.g. '1306.6089'" %}
      </div>
    </div>
    <div class="large-4 cell">
      <div class="input-group">
        <span class="input-group-label">{{ form.doi.label }}</span>
        {% form_field form.doi widget="form:TextInput" css_classes="input-group-field bottom" tooltip="e.g. '10.1103/PhysRevX.4.021030'"%}
      </div>
    </div>
    <div class="large-12 cell">
      <h6 class="sidelines"><span>TAGS</span></h6>
    </div>
    <div class="large-4 cell">
      <p><strong>Tags</strong> help finding this record more easily. Provide a list of <strong>comma separated tags</strong>.</p>
    </div>
    <div class="large-8 cell">
      {{ form.tags }}
    </div>

    <div class="large-12 cell">
      <hr class="margin-top"><h4>3. Submit your record</h4>
      <p>Verify your input, maybe check the preview plot of your data, and
      submit your dataset.</p>
      <div class="button-group">
        {% if not request.META.HTTP_REFERER or request.META.HTTP_REFERER == request.path %}
          <a href="{% url 'record_list' %}" class="secondary button">Cancel</a>
        {% else %}
          <a href="{{ request.META.HTTP_REFERER }}" class="secondary button">Cancel</a>
        {% endif %}
        <button name="action" type="submit" value="submit" class="button">
          Submit
        </button>
      </div>
    </div>
    </form>
  </div>
</div>
{% endblock %}


{% block javascript %}
  <script src="{% static "js/webplots/jquery.webplots.js" %}"></script>
  <script src="{% static "records/js/preview.js" %}"></script>
{% endblock %}
