{% extends "base.html" %}
{% load sniplates %}
{% block title %}ALPlot - Sign up{% endblock %}

{% block content %}
{% load_widgets form="widgets/app.html" %}
<div class="grid-container content-container">
  <div class="grid-x grid-padding-x">

    <div class="auto cell"></div><div class="large-8 cell">
      <h2>Sign Up</h2><hr>
      <p>
        Already have an account? Then please
        <a href="{{ login_url }}"><strong>sign in</strong></a>.
      </p>

      <form class="signup" id="signup_form" method="post" action="{% url 'account_signup' %}">
        {% csrf_token %}
        {% form_field form.email widget="form:EmailInput" show_label="true" %}
        {% form_field form.username widget="form:TextInput" show_label="true" %}
        {% form_field form.password1 widget="form:PasswordInput" show_label="true" %}
        {% form_field form.password2 widget="form:PasswordInput" show_label="true" %}
        {% if redirect_field_value %}
          <input type="hidden"
                 name="{{ redirect_field_name }}"
                 value="{{ redirect_field_value }}"
          />
        {% endif %}
        <button class="button primary" type="submit">Sign Up</button>
      </form>
    </div><div class="auto cell"></div>
  </div>
</div>
{% endblock %}
