{% load i18n sniplates %}


{% block _label %}
  <label id="{{ id }}-label" for="{{ id }}">
    {{ label }}
  </label>
{% endblock %}


{% block _errors %}
  {% if errors %}
    <ul class="inline-list">
      {% for error in errors %}
        <li class="inline-list-item error-item">{{error}}</li>
      {% endfor %}
    </ul>
  {% endif %}
{% endblock %}


{% block GenericInput %}
<div>
  {% reuse "_label" %}
  <input type="{{ type }}"
         name="{{ html_name }}"
         id="{{ id }}"
         value="{{ raw_value|default_if_none:"" }}"
         class="u-full-width {{ errors|yesno:"error," }}"
         {{ widget.attrs|flatattrs }}
         {{ required|yesno:"required," }}
         {% if placeholder %}placeholder="{{ placeholder }}"{% endif %}
  >
  {% reuse "_errors" %}
</div>
{% endblock %}

{% block TextInput %}{% reuse "GenericInput" type="text" %}{% endblock %}
{% block EmailInput %}{% reuse "GenericInput" type="email" %}{% endblock %}
{% block PasswordInput %}{% reuse "GenericInput" type="password" value="" %}{% endblock %}

{% block NumberInput %}
  {% reuse "GenericInput" type="text" %}
  <div class="u-pull-right input-unit">{{ unit }}</div>
{% endblock %}


{% block ColorInput %}{% reuse "GenericInput" type="color" %}{% endblock %}


{% block RadioSelect %}
  <div class="w3-container w3-padding">
    {% if showlabel %}
      {% reuse "_label" %}
    {% endif %}
    <ul id="{{ id }}" class="w3-ul">
      {% for val, display in choices %}
        <li><input name="{{ html_name }}" type="radio" class="w3-radio" id="{{ id}}_{{ forloop.counter0 }}" value="{{ val }}" {% if val == value|default:"" %}checked{% endif %}>  {{ display }}</li>
      {% endfor %}
    </ul>
  </div>
{% endblock %}


{% block Textarea %}
  {% reuse "_label" %}
  {% reuse "_errors" %}
  <textarea name="{{ html_name }}"
            id="{{ id }}"
            class="u-full-width {{ errors|yesno:"error," }}"
            {{ required|yesno:"required," }}
            {% if placeholder %}placeholder="{{ placeholder }}"{% endif %}
            {{ widget.attrs|flatattrs }}
  >{{ raw_value|default:'' }}</textarea>
{% endblock %}


{% block _Select_Option %}
<option value="{{ val }}" {% if val == value|default:None %}selected{% endif %}>{{ display }}</option>
{% endblock %}


{% block Select %}
{% reuse '_label' %}
<select name="{{ html_name }}" id="{{ id }}" class="u-full-width" {{ widget.attrs|flatattrs }}>
{% for choice in choices %}
    {% if choice.is_group %}
    <optgroup label="{{ choice.value }}">
        {% for val, display in choice.display %}
            {% reuse '_Select_Option' val=val value=value display=display %}
        {% endfor %}
    </optgroup>
    {% else %}
        {% reuse '_Select_Option' val=choice.value value=value display=choice.display %}
    {% endif %}
{% endfor %}
</select>
{% endblock %}

<input type="checkbox" id="my-checkbox">
<label for="my-checkbox"></label>

{% block CheckboxInput %}
  {% reuse '_label' %}
  <input type="checkbox" name="{{ html_name }}" id="{{ id }}" {{ form_field.value|yesno:'checked,' }}>
  <label for="{{ form_field.id_for_label }}"></label>
{% endblock %}


{% block Visualization %}
  <div class="row">
    <div class="three columns">
      {% form_field form.dataset %}
    </div>
    <div class="two columns">
      {% form_field form.label %}
    </div>
    <div class="two columns">
      {% form_field form.color widget=':ColorInput' %}
    </div>
    <div class="two columns">
      {% form_field form.style %}
    </div>
    <div class="one columns">
      {% form_field form.alpha %}
    </div>
    <div class="one columns">
      {% form_field form.zorder %}
    </div>
    <div class="one column">
      {% form_field form.fill %}
    </div>
  </div>
  <hr/>
{% endblock %}

