{% extends "base.html" %}
{% block title %}ALPlot{% endblock %}

{% block content %}
<div class="grid-container content-container">
  <div class="grid-x grid-padding-x">
    <div class="large-2 cell"> </div>
    <div class="large-8 cell">
      <h2>Contact</h2><hr>
      <p>Questions, comments or record proposals? Please drop us a mail at:</p>
      <p class="text-center"><b>weinshec</b> <i>(at)</i> <b>students</b> <i>(dot)</i> <b>uni</b> <i>(minus)</i> <b>mainz</b> <i>(dot)</i> <b>de</b></p>
    </div>
    <div class="auto cell"> </div>

    <div class="large-2 cell"> </div>
    <div class="large-8 cell">
      <h4>ALPlot source code</h4>
      <p>The source code of <b>ALPlot</b> is publicly available from gitlab.com</p>
      <p class="text-center"><a ref="https://gitlab.com/weinshec/alplotsite">https://gitlab.com/weinshec/alplotsite</a></p>
      <p>and is licensed under <strong>BSD-3</strong></p>

      <blockquote>
        Copyright (c) {% now "Y" %}, Christoph Weinsheimer<br>
        All rights reserved.<br>
        <br>
        Redistribution and use in source and binary forms, with or without<br>
        modification, are permitted provided that the following conditions are met:<br>
        <br>
        * Redistributions of source code must retain the above copyright notice, this<br>
        list of conditions and the following disclaimer.<br>
        <br>
        * Redistributions in binary form must reproduce the above copyright notice,<br>
        this list of conditions and the following disclaimer in the documentation<br>
        and/or other materials provided with the distribution.<br>
        <br>
        * Neither the name of alplotsite nor the names of its<br>
        contributors may be used to endorse or promote products derived from<br>
        this software without specific prior written permission.<br>
        <br>
        THIS SOFTWARE IS PROVIDED BY THE COPYRIGHT HOLDERS AND CONTRIBUTORS "AS IS"<br>
        AND ANY EXPRESS OR IMPLIED WARRANTIES, INCLUDING, BUT NOT LIMITED TO, THE<br>
        IMPLIED WARRANTIES OF MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE ARE<br>
        DISCLAIMED. IN NO EVENT SHALL THE COPYRIGHT HOLDER OR CONTRIBUTORS BE LIABLE<br>
        FOR ANY DIRECT, INDIRECT, INCIDENTAL, SPECIAL, EXEMPLARY, OR CONSEQUENTIAL<br>
        DAMAGES (INCLUDING, BUT NOT LIMITED TO, PROCUREMENT OF SUBSTITUTE GOODS OR<br>
        SERVICES; LOSS OF USE, DATA, OR PROFITS; OR BUSINESS INTERRUPTION) HOWEVER<br>
        CAUSED AND ON ANY THEORY OF LIABILITY, WHETHER IN CONTRACT, STRICT LIABILITY,<br>
        OR TORT (INCLUDING NEGLIGENCE OR OTHERWISE) ARISING IN ANY WAY OUT OF THE USE<br>
        OF THIS SOFTWARE, EVEN IF ADVISED OF THE POSSIBILITY OF SUCH DAMAGE.<br>
      </blockquote>
    </div>
    <div class="auto cell"> </div>
  </div>
</div>
{% endblock %}
