{% extends "base.html" %}
{% block title %}ALPlot{% endblock %}

{% block content %}
<div class="grid-container content-container">
  <div class="grid-x grid-padding-x">
    <div class="large-2 cell"> </div>
    <div class="large-8 cell">
      <h2>Frequently Asked Questions</h2><hr>
      <p>
        If you don't find a satifying answer below, don't hesitate to get in
        touch with us. (see <a href="{% url 'contact' %}">Contact</a>)
      </p>
      <ul class="accordion" data-accordion data-multi-expand="true" data-allow-all-closed="true">

        <li class="accordion-item" data-accordion-item>
          <a href="#" class="accordion-title">What is ALPlot and who are you?</a>
          <div class="accordion-content" data-tab-content>
            <p>ALPlot is a web application designed to create exclusion limit
            plots for Axions or Axion-Like-Particles (ALPs). It was born in the
            course of our contribution to the ALPS-II experiment (DESY), an
            advanced Light-Shining-thorugh-a-Wall type of experiment aiming to
            search for ALPs.  We, that is a small group of researchers from the
            Johannes Gutenberg-University in Mainz.</p>
          </div>
        </li>

        <li class="accordion-item" data-accordion-item>
          <a href="#" class="accordion-title">Where do all these records come from?</a>
          <div class="accordion-content" data-tab-content>
            <p>The records you see per default on this site are a selection of
            publicly available data, frequently used as reference in Axion/ALP
            exclusion limit plots. Please note that the data in these records
            is the result of the remarkable work of various groups and
            collaborations all over the world and all credits should go to
            them.</p>
            <p>Please also note that some of the data points might be slightly
            inaccurate, which usually occurs when the data has been manually
            extracted from public plots.</p>
          </div>
        </li>

        <li class="accordion-item" data-accordion-item>
          <a href="#" class="accordion-title">Can I publish my own record?</a>
          <div class="accordion-content" data-tab-content>
            <p>All records you create are private per default, that means
            <strong>only visible to you</strong>.</p>
            <p>However if you are the author of a publication and want to have
            your work included as public record in ALPlot, please contact us!
            </p>
          </div>
        </li>

        <li class="accordion-item" data-accordion-item>
          <a href="#" class="accordion-title">Why do I need to register?</a>
          <div class="accordion-content" data-tab-content>
            <p>The registration process allows you to persistently store your
            (private) records and plots in your user profile. The only purpose
            of providing your email address is to enable us sending you a new
            password, if you forgot yours. If you do not feel comfortable with
            that, no worries, just provide a fake address!</p>
          </div>
        </li>

        <li class="accordion-item" data-accordion-item>
          <a href="#" class="accordion-title">Can I contribute to ALPlot?</a>
          <div class="accordion-content" data-tab-content>
            <p>Any contribution to ALPlot is very welcome. If you want to
            contribute page content or you found a mistake, please drop us a
            mail. If you want to contribute to the web application itself,
            please checkout the <a href="https://gitlab.com/weinshec/alplotsite" target="_blank">repository</a>
            and create an <i>Issue</i> or <i>Pull Request</i>.</p>
          </div>
        </li>

      </ul>
    </div>
    <div class="auto cell"> </div>
  </div>
</div>
{% endblock %}
