{% extends "base.html" %}
{% load static %}
{% block title %}ALPlot{% endblock %}

{% block content %}
<div id="welcome-banner">
  <div class="grid-container">
    <div class="grid-x grid-padding-x">
      <div class="large-4 cell">
        <img src="{% static "images/logo_full_white.svg" %}">
      </div>
      <div class="large-1 cell">
      </div>
      <div class="large-5 cell">
        <h4 class="v-center">
          Create and explore the latest Axion-Like Particle Exclusion Limits
        </h4>
      </div>
    </div>
  </div>
</div>

<div class="grid-container" data-sticky-container>
  <div class="grid-x grid-padding-x" id="content-grid">
    <div class="large-9 cell">
      <h2>Create a plot</h2><hr>
      <div class="media-object stack-for-small">
        <div class="media-object-section">
          <h5>ALPlot features an easy-to-use graphical user interface, that
          let's you create beautiful exclusion plots. Pick your dataset from
          the list of records or create your own.</h5>
          <p>Choose your personal set of records to be included in your plot
          and style them to your needs. That includes color, filling,
          transparency, draw order, etc.</p>
        </div>
        <div class="media-object-section">
          <img src="https://placehold.it/400x300">
        </div>
      </div>

      <h2>Add your record</h2><hr>
      <div class="media-object stack-for-small">
        <div class="media-object-section">
          <h5>ALPlot lets you upload and store your own exclusion limit dataset
          to be used in your personal plots.</h5>
          <p>Some more text goes here.</p>
        </div>
        <div class="media-object-section">
          <img src="https://placehold.it/400x300">
        </div>
      </div>
    </div>
    <div class="large-2 cell">
      <ul class="vertical menu" data-sticky
        data-top-anchor="content-grid" data-margin-top="5">
        <li><a href="{% url 'limitplot_new' %}">Create new plot</a></li>
        <li><a href="{% url 'limitplot_list' %}">Browse plots</a></li>
        <li><a href="{% url 'record_new' %}">Upload a record</a></li>
        <li><a href="#">Run an experiment</a></li>
      </ul>
    </div>
  </div>
</div>
{% endblock %}
